* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

:root {
    --main-color: #54b689;
    --main-text-color: #fff;
    --border-color: #999;
    --bio-bg-color: #1e2a3a;
    --bio-border-color: #293544;
    --about-bg-color: #111821;
}


.highlight {
    color: var(--main-color);
}

#container {
    display: flex;
    flex-direction: row;
    color: var(--main-text-color);
}

#bio-container {
    flex: 1 1 20%;
    min-height: 100vh;
    background-color: var(--bio-bg-color);
    text-align: center;
    padding: 32px 12px;
    border-right: 4px solid var(--bio-border-color);
}

#bio-img{
    width: 174px;
    height: 174px;
    border-radius: 50%;
    margin-bottom: 24px;
}

#bio-container h2{
    margin-bottom: 24px;
}

#bio-container p{
    margin-bottom: 20px;
}

#bio-container #welcome-text {
    font-weight: bold;
}

#social-container {
    display: flex;
    justify-content: center;
    list-style: none;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 24px;
    padding-bottom: 24px;
}

#social-container li {
    flex: 1 1 0;
    max-width: 60px;
}

#social-container li a{
    color: var(--main-color);
    font-size: 32px;
}

#email-container {
    display: flex;
    justify-content: center;
}

#email-container ion-icon,
#email-container a {
    flex: 1 1 0;   
}

#email-container a {
    color: var(--main-text-color);
    text-decoration: none;
    max-width: 224px;
}

#email-container ion-icon {
    color: var(--main-color);
    font-size: 20px;
    margin-right: 4px;
    max-width: 20px;
}

#about-container {
    flex: 1 1 80%;
    min-height: 100vh;
    background-color: var(--about-bg-color);
    padding: 48px;
}

